body {
  color: #000000;
  background: url("../img/bg.jpeg") no-repeat center top fixed;
  background-size: cover;
  background-attachment: fixed; }

#home-section .home-inner {
  padding-top: 150px; }

#home-section .card-form {
  background-color: rgba(255, 255, 255, 0.8); }
  #home-section .card-form .form-inline {
    opacity: 1; }

.navbar {
  border-bottom: #008ed6 3px solid;
  background-color: #FFFFFF;
  opacity: 0.95;
  color: black; }

@media (max-width: 576px) {
  nav .container {
    width: 100%; } }

hr {
  background-color: #FFFFFF; }
